@using  IdentityServer.SSO.ViewModel
@model BaseListViewModel<UserViewModel>

<button class="btn btn-info">
    <a asp-action="Insert"
       asp-controller="User">
        Novo usuário +
    </a>
</button>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model?.Data)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>
                        <button class="btn btn-warning">
                            <a asp-action="Update"
                               asp-controller="User"
                               asp-route-id="@user.Id">
                                Atualizar
                            </a>
                        </button>

                        <button class="btn btn-danger">
                            <a asp-action="Delete"
                               asp-controller="User"
                               asp-route-id="@user.Id">
                                Remover
                            </a>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>