.nav-spacer {
    flex: 1 1 auto;
}

mat-drawer-container{
    height: calc(100% - 65px);
}

.link {
    font-size: 1.3em;
    line-height: 2.5em;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #d6d6d6;

    a {
        color: black;

        mat-icon {
            position: relative;
            top: 5px;
        }

        &:hover {
            text-decoration: none !important;
        }
    }
}


mat-drawer-content {
    padding: 15px;
}

mat-toolbar h1{
    margin-left: 10px;
}