
<div class="welcome-page">
    <h1>
       Bem vindo ao portal SSO
    </h1>

    <div class="content">

        <h5>Você sabe oque é um sistema SSO?</h5>
        <p class="carousel-text">
            SSO ou Single Sing-on é um sistema que permite o acesso a mais de um recurso (sistemas, aplicativos mobile, APIs) sem precisar realizar o cadastro em mais de uma aplicação, basta autenticar uma vez e utilizar.
        </p>

    </div>

</div>
