@model IdentityServer.SSO.ViewModel.UserViewModel

<button class="btn btn-info">
    <a asp-action="Index"
       asp-controller="User">
        Voltar
    </a>
</button>

<partial name="_ValidationSummary" />

<form asp-route="Insert">

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Username">Login</label>
                <input type="text"
                       class="form-control"
                       placeholder="Login"
                       asp-for="Username">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Password">Senha</label>
                <input type="text"
                       class="form-control"
                       asp-for="Password"
                       placeholder="Senha">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Email">E-mail</label>
                <input type="email"
                       class="form-control"
                       asp-for="Email"
                       placeholder="E-mail">
            </div>
        </div>
    </div>


    <button class="btn btn-success">
        Salvar
    </button>
</form>