
<div class="container">
    <div class="row">
        <div class="col-3">
            <img class="alert-img" src="~/img/alert.png" title="Alerta" />
        </div>
        <div class="col-9">
            <div class="lead">
                <h1>Acesso negado</h1>
                <p>Você não possui permissão para acessar este recurso.</p>
                <p>Por favor, verifique seu acesso com o administrador do sistema.</p>
            </div>
        </div>
    </div>
    
</div>