@using IdentityServer4.Extensions

@{
    string name = null;
    bool canCreateUSer = false;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
        canCreateUSer = Context.User.Claims.FirstOrDefault(x => x.Type == "createuser") != null;
    }

    string url = Context.Request.Path.ToString();
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            Portal SSO
        </a>

        <ul class="navbar-nav mr-auto">
            @if (canCreateUSer)
            {
                <li class="nav-item">
                    <a asp-action="Index"
                       asp-controller="User"
                       class="nav-link">
                        Cadastro de Usuários
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index"
                       asp-controller="Client"
                       class="nav-link">
                        Cadastro de Aplicações
                    </a>
                </li>
            }
        </ul>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <form class="form-inline">
                <span class="navbar-text login-info">
                    Olá @name
                </span>

                <button class="btn btn-danger btn-logout">
                    <a asp-action="Logout"
                       asp-controller="Account"
                       class="logout">
                        Logout
                    </a>
                </button>
            </form>
        }
        else if (!url.ToLower().Contains("login"))
        {
            <button class="btn btn-success btn-logout">
                <a asp-action="Login"
                   asp-controller="Account"
                   class="logout">
                    Login
                </a>
            </button>
        }

    </nav>
</div>
