@using IdentityServer4.Extensions

@{
    string name = null;
    bool isAdmin = false;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
        isAdmin = Context.User.IsInRole("Admin");
    }

    string url = Context.Request.Path.ToString();
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            Portal SSO
        </a>

        <ul class="navbar-nav mr-auto">
            @if (isAdmin)
            {
                <li class="nav-item">
                    <a asp-action="Index"
                       asp-controller="User"
                       class="nav-link">
                        Cadastro de Usuários
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index"
                       asp-controller="Client"
                       class="nav-link">
                        Cadastro de Aplicações
                    </a>
                </li>
            }
        </ul>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <span class="navbar-text login-info">
                Olá @name
            </span>

            <a class="btn btn-danger btn-logout"
                asp-action="Logout"
                asp-controller="Account">
                Logout
            </a>
        }
        else if (!url.ToLower().Contains("login"))
        {
            <a class="btn btn-success btn-logout"
                asp-action="Login"
                asp-controller="Account">
                Login
            </a>
        }

    </nav>
</div>
